# Importing Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading DataSet

In [2]:
federer=pd.read_csv(r"C:\Users\Vampatapu Koushik\handson\code\data\federer.csv")

In [3]:
federer.head()

,year,tournament,start date,type,surface,draw,atp points,atp ranking,tournament prize money,round,...,player2 2nd serve return points total,player2 break points converted won,player2 break points converted total,player2 return games played,player2 total service points won,player2 total service points total,player2 total return points won,player2 total return points total,player2 total points won,player2 total points total
0,1998,"Basel, Switzerland",05.10.1998,WS,Indoor: Hard,Draw: 32,1,396.0,"$9,800",R32,...,22.0,4.0,8.0,8.0,36.0,50.0,26.0,53.0,62.0,103.0
1,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R32,...,19.0,0.0,1.0,8.0,33.0,65.0,8.0,41.0,41.0,106.0
2,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R16,...,30.0,0.0,4.0,10.0,46.0,75.0,23.0,73.0,69.0,148.0
3,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",Q,...,28.0,3.0,10.0,10.0,44.0,63.0,26.0,67.0,70.0,130.0
4,1998,"Geneva, Switzerland",24.08.1998,CH,Outdoor: Clay,Draw: 32,1,680.0,$520,R32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
federer

,year,tournament,start date,type,surface,draw,atp points,atp ranking,tournament prize money,round,...,player2 2nd serve return points total,player2 break points converted won,player2 break points converted total,player2 return games played,player2 total service points won,player2 total service points total,player2 total return points won,player2 total return points total,player2 total points won,player2 total points total
0,1998,"Basel, Switzerland",05.10.1998,WS,Indoor: Hard,Draw: 32,1,396.0,"$9,800",R32,...,22.0,4.0,8.0,8.0,36.0,50.0,26.0,53.0,62.0,103.0
1,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R32,...,19.0,0.0,1.0,8.0,33.0,65.0,8.0,41.0,41.0,106.0
2,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R16,...,30.0,0.0,4.0,10.0,46.0,75.0,23.0,73.0,69.0,148.0
3,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",Q,...,28.0,3.0,10.0,10.0,44.0,63.0,26.0,67.0,70.0,130.0
4,1998,"Geneva, Switzerland",24.08.1998,CH,Outdoor: Clay,Draw: 32,1,680.0,$520,R32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174,2012,"Australian Open, Australia",16.01.2012,GS,Outdoor: Hard,Draw: 128,720,3.0,"A$437,000",S,...,49.0,6.0,16.0,21.0,95.0,141.0,51.0,135.0,146.0,276.0
1175,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",R32,...,6.0,0.0,0.0,8.0,22.0,45.0,9.0,41.0,31.0,86.0
1176,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",R16,...,17.0,0.0,2.0,9.0,28.0,50.0,11.0,49.0,39.0,99.0
1177,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",Q,...,29.0,4.0,9.0,16.0,47.0,78.0,34.0,95.0,81.0,173.0
1178,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
federer.shape

(1179, 70)

# Percentage of matches won by Roger Federer

In [7]:
matches=federer.shape[0]
matches_won=federer[federer['winner']=='Roger Federer'].shape[0]
win_percentage=(matches_won/matches)*100
print(f"Percentage of matches won by Roger Federer: {win_percentage:.2f}%")

Percentage of matches won by Roger Federer: 82.44%

# Proportion of Double Faults Relative to Total Points

In [16]:
federer['Double_faults']=federer['player1 double faults']/federer['player1 total points total']
Double_faults=federer['Double_faults']
print(Double_faults)

0       0.019417
1       0.000000
2       0.020270
3       0.046154
4            NaN
          ...
1174    0.018116
1175    0.000000
1176    0.000000
1177    0.011561
1178         NaN
Name: Double_faults, Length: 1179, dtype: float64

# Average win per surface

In [14]:
Avg_wps=federer[federer['winner']=='Roger Federer'].groupby('surface').size()
print(Avg_wps)

surface
Indoor: Carpet     56
Indoor: Clay        5
Indoor: Hard      189
Outdoor: Clay     194
Outdoor: Grass    122
Outdoor: Hard     406
dtype: int64

# Proportion of Double Faults as a Function of Tournament Date ('start date')

In [21]:
federer['start date']=pd.to_datetime(federer['start date'],errors='coerce')
federer['year']=federer['start date'].dt.year
Avg_df_by_year=federer.groupby('year')['double_faults_proportion'].mean()
print(Avg_df_by_year)

year
1998.0    0.020738
1999.0    0.028285
2000.0    0.020918
2001.0    0.016780
2002.0    0.016084
2003.0    0.018211
2004.0    0.012856
2005.0    0.008778
2006.0    0.008495
2007.0    0.009116
2008.0    0.005306
2009.0    0.008313
2010.0    0.009711
2011.0    0.008275
2012.0    0.011024
Name: double_faults_proportion, dtype: float64

# Based on the analysis of the Federer dataset,here are the key inference drawn from the data:
## ->Match Win Percentage:
1. Roger Federer has a high win percentage across his career.
## ->Performance on different surfaces:
1. Federer’s performance varies across surfaces. Typically, his strongest surface is grass,particularly at Wimbledon, where he has won the most titles.
2. On hard courts, Federer has also performed consistently well, winning many titles at the Australian Open and US Open.
3. His performance on clay courts, while strong, might not have been as dominant as on         other surfaces.
## ->Double faults:
1. The proportion of double faults across matches gives an insight into his serving            performance and confidence.
2. A consistent or low proportion of double faults over the years would suggest that           Federer has maintained a high level of service reliability throughout his career.
## ->Overall Inference:
1. Federer’s performance is highly consistent, reflecting his status as one of the greatest    tennis players of all time.